<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NumSharp" version="0.20.5" manuallyInstalled="true" />
  <package id="Numpy" version="3.11.1.33" manuallyInstalled="true" />
  <package id="Python.Deployment" version="2.0.0" />
  <package id="Python.Included" version="3.11.1" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" />
  <package id="pythonnet" version="3.0.1" />
</packages>