SMPL-X\ Pose\ Estimation\ Demonstrator/Assets/Point\ Clouds/*
SMPL-X\ Pose\ Estimation\ Demonstrator/Assets/Point\ Clouds.meta

SMPL-X\ Pose\ Estimation\ Demonstrator/Assets/SMPLX/*
SMPL-X\ Pose\ Estimation\ Demonstrator/Assets/SMPLX.meta

SMPL-X\ Pose\ Estimation\ Demonstrator/Assets/SMPLX-Validation/*
SMPL-X\ Pose\ Estimation\ Demonstrator/Assets/SMPLX-Validation.meta

